form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
    max-width: 50%;
}
#todo {
    margin: 0 auto;
    width: 500px;
}

a#save {
    margin: 2px 0;
}
a.close {
    float: right;
}

.checkbox {
    float: left;
}

.textfield {
    display: none;
}

.edit {
    display: block;
    text-decoration: none;
}

.left {
    float: left;
}

input[type='number'] {
    width: 35px;
}

.panel > .change {
    background-color: #000;
}
.toogle {
    background-color: #65c178;
}
.pages > a {
    display: inline-block;
    background-color: #337ab7;
    width: 18px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin: 0 1px;
}

.pages > .active {
    background-color: #000;
}

li.todo_item {
    max-width: 250px;
}

.remove {
    cursor: pointer;
    float: right;
}
