{% extends "base_generic.html" %}

{% block content %}
<h1>Local Library Home</h1>

  <p>Welcome to <em>Todolist</em>, a very basic example of Todo.</p>

<h2>Complete{{ count_todo }}</h2>
<h2>Uncomplete</h2>

  <p>The library has the following record counts:</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="save btn btn-default" value="save">
</form>
  <ul>
     {% for todo in all_todo %}
    <li><strong>title: {{ todo.title }}</strong> </li>
      {% endfor %}
  </ul>

{% endblock %}
